@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import "tailwindcss";

:root {
  --intel: #3079ee;
  --Radeon: #e9001d;
  --Nvidia: #589c00;
  --Icy-Aqua: #bdfffd;
  --Soft-Cyan: #9FFFF5;
  --Aquamarine: #7cffc4;
  --Ocean-Mist: #6abea7;
  --Blue-Slate: #5e6973;
}